* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ED0046;
  --color-dark: #0E203B;
  --color-light: #F0F0F0;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-block: 900;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  color: var(--color-dark);
  line-height: 1.6;
}

header {
  background-color: var(--color-light);
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  line-height: 1;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: .5em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: var(--fw-bold);
  margin-bottom: 0.75rem;
}

.btn--primary {
  background-color: var(--color-primary);
  border: 3px solid var(--color-primary);
  color: var(--color-light);
}

.btn--primary:hover {
  background-color: var(--color-dark);
  border: 3px solid var(--color-dark);
}

.btn--outline {
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--outline:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: 3px solid var(--color-dark);
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  padding: 14px 0 14px 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  color: var(--color-primary);
}

.weather {
  display: grid;
  grid-template-columns: min-content 1fr;
  background-color: var(--color-dark);
  color: #ACACAC;
  align-items: center;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .5px;
  max-width: 425px;
}

.weather-icon {
  padding: 1.14rem;
  background-color: #F0F0F0;

}

.weather-info-box {
  margin: 0 2rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.weather-info-top,
.weather-info-bottom {
  display: flex;
  justify-content: space-between;
  margin: .6rem 0;
}

.weather-info-top>div:nth-child(2),
.weather-info-bottom>div:nth-child(2) {
  color: #fff;
  text-transform: none;
}

.middle-line {
  margin: 3.5px 0;
  height: 1.1px;
  background-color: #bbbbbbc7;
  width: 14rem;
  opacity: .5;
}

/* main section */

.main {
  padding: 2rem 1rem 10rem 1rem;
}

.main--ski {
  background-image: url(./img/skii_guy.jpg);
  background-size: cover;
  background-color: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(139, 172, 179, 1) 100%, rgba(139, 172, 179, 1) 100%);
}

@media screen and (min-width: 430px) {
  .main {
    padding: 4rem 1rem 20rem 2.7rem;
  }

  .weather {
    margin: 0 auto;
    /* margin: .5em auto -1em; */
    /* position: relative; */
    /* z-index: 1; */
  }

  .main-intro {
    line-height: 24px;
    font-size: .98rem;
    padding: 0 0 1.5rem 0;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 4rem 1rem 20rem 2.7rem;

  }

  .hero-section {
    max-width: 60%;
  }

  header {
    flex-direction: row;
  }

  .logo-and-nav {
    flex-grow: 2;
  }

  .weather {
    flex-grow: 1;
  }

  .nav-list {
    width: 350px;
    margin: 0 auto;
  }
}

.main-title {
  line-height: 1;
  font-weight: var(--fw-block);
  font-size: 2.3rem;
  padding: 0 0 1.3rem 0;
}

.main-intro {
  line-height: 24px;
  font-size: .98rem;
  padding: 0 0 1.3rem 0;
}

@media screen and (min-width:1200px) {

  .main {
    padding: 6rem 1rem 30rem 10rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .main-intro {
    line-height: 25.5px;
    font-size: 1rem;
    margin: .6rem 0;
  }

  .container {
    max-width: 1400px;
  }

  .logo-and-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    flex-grow: 1;
    padding: 0 0 0 2rem;
  }

  .nav {
    flex-grow: 2;
  }

  .nav-list {
    width: 500px;
    margin: 0 auto;
  }

  .hero-section {
    max-width: 50%;
  }

  @media screen and (min-width: 2560px) {
    .main {
      padding: 6rem 1rem 50rem 17rem;
    }
  }
}